.header_container {
    background: black;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 8px;
}

.blogs_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog {
    background: #3a0c0c;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}